.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid var(--border-color);
    padding: 15px;
}

.todo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-right, .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.add-subtask-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: var(--br-container);
    margin: 10px 0px;
}

.buttons-container {
    align-self: flex-end;
}

.subtasks-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid var(--border-color);
    border-radius: var(--br-container);
    margin-top: 15px;
}

.subtask-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}
.subtask-left-container, .subtask-right-container {
    display: flex;
    align-items: center;
}

