.todo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--bgc-light);
    border-bottom: 1px solid var(--border-color);
    padding: 15px;
}

.todo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header-right, .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

