.page-container {
    background-color: var(--bgc);
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}