.main-header {
    background-color: var(--bgc-nav);
    min-height: var(--h-mainheader);
    padding: 0px var(--ps-mainheader);
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-title {
    color: var(--tint) !important;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}